<main class="ftr-home">

    <div class="hero-component">
      <div class="wrapper dark">
        <img src="images/hero-placeholder.png" class="placeholder" alt="">
        <div class="container">
          <div class="content ">
            <h1>This sounds like great TV</h1>
            <h2>Music Choice brings music and video right to you.</h2>
          </div>
        </div>

      </div>
    </div>


    <section class="l-bg bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Yes, your favorite music is up on FiOS<sup>&reg;</sup></h3>
                    <p>What do you want to hear? Top hits, pop latino, country, toddler tunes? Want to watch the latest videos or your old faves? They’re all right on your TV from a little button on your remote. We’ve made it easier, more intuitive to select and play, much like online music sites.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                     <img class=" img-responsive text-center m-auto " src="images/music-1.jpg" alt="">
                    <!-- <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src='//players.brightcove.net/4821467228001/BkZGPpHw_default/index.html?videoId=5355267796001' allowfullscreen frameborder=0></iframe>
                      </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg bg-r">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <img class=" img-responsive text-center m-auto " src="images/music-2.jpg" alt="">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>What makes Music Choice amazing?</h3>
                    <p>How about <span class="avenir">100</span> channels to browse through? How about a library of <span class="avenir">20,000</span> on demand videos? You can create your own soundtrack or listen to the suggestions served up to you. </p>
                </div>
            </div>
        </div>

    </section>
    <!-- <div class="red-bar"></div> -->
    <section class=" bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Ready to change your experience?</h3>
                    <p>Become a Vantage or FiOS<sup>&reg;</sup> Quantum customer today, and bring a little more music into your life. Call now. And tune in..</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <img class=" img-responsive text-center m-auto " src="images/music-3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="call-bar">
       <div class="fx">
           <div class="fx-phone">Call
               <img src="images/red-phone-icon-2.png">

               <a href="tel:18009218101">1.800.921.8101 </a>
           </div>
       </div>
    </section>


    <!-- <footer>
        <div class="copyright">
            <div class="container">
                <p class="text-center">© 2017 Frontier Communications Corporation. All rights reserved.</p>
            </div>
        </div>
    </footer> -->

</main>
