<main class="fios-home">

    ${require('./hero.html')}

     <!-- <section class="call-bar">
        <div class="fx">
            <div class="fx-phone">
              Call <img src="../images/red-phone-icon-2.png">
                <a href="tel:1.877.591.2396">1.877.591.2396 </a>
            </div>
        </div>
    </section> -->

    <section class=" bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-8 col-md-9 col-lg-6">
                    <h3 class="mt-0">Yes, your favorite music is up on your screen.</h3>
                    <p>What do you want to hear? Top hits, pop latino, country, toddler tunes? Want to watch the latest videos or your old faves? They’re all right on your TV from a little button on your remote. We’ve made it easier, more intuitive to select and play, much like online music sites.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-offset-1 col-lg-6">
                     <img class=" img-responsive text-center m-auto " src="../images/music-3_1.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg bg-r">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-4 col-md-3 col-lg-4">
                  <img class=" img-responsive text-center m-auto " src="../images/music-2.svg" alt="">
                </div>
                <div class="col-sm-offset-0 col-sm-8 col-sm-offset-0 col-md-9 col-lg-offset-1 col-lg-7">
                    <h3>What makes Music Choice amazing?</h3>
                    <p>How about <span class="number">100</span> channels to browse through? How about a library of <span class="number">20,000</span> on demand videos? You can create your own soundtrack or listen to the suggestions served up to you. </p>
                </div>
            </div>
        </div>

    </section>
    <section class=" bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-8 col-md-9 col-lg-7">
                    <h3>Ready to change your experience?</h3>
                    <p>Become a Vantage or FiOS<sup>&reg;</sup> Quantum customer today, and bring a little more music into your life. Call now. And tune in..</p>
                </div>
                <div class="col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-offset-1 col-lg-4">
                  <img class=" img-responsive text-center m-auto " src="../images/music-1.svg" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
